<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'template.css') }}">
</head>
<body>
<nav class="navbar navbar-inverse">

    <h2 style="color:White;" align="center">  Terms and Conditions </h2>

</nav>
<br>
<h4 align = "center">Following table represents the information stored with us, its purpose and the duration in months for which it will be stored with us.</h4>
<h4 align = "center">You have the right to view, update or delete this information at any point in time.</h4>
<br>
<br>
<p>
<table align="center" id="example" class="table table-striped table-bordered" style="width:80%">
    <thead>
        <tr>
            <th>Information</th>
			<th>Purpose of Storage</th>
            <th>Duration for Storage</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
               <td> {{ row[0] }} </td>
			   <td> {{ row[1] }} </td>
			   <td> {{ row[2] }} </td>
            </tr>
         {% endfor %}
    </tbody>

</table>
</p>
<p class="text-center"><a href="http://localhost:5000/signup">Go back to Sign Up page</a></p>
</body>
</html>
